<!DOCTYPE html>
<html lang="en">
<head>
    <%- include("../partials/head", {title: "Perfil"}) %>
    <link rel="stylesheet" href="/css/profile.css">
    <script src="https://kit.fontawesome.com/c798016428.js" crossorigin="anonymous"></script>
  
</head>
<body>

    <%- include("../partials/header") %>
    <%- include("../users/login-lateral") %>
    <%- include("../partials/carrito-lateral") %>


    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/@splidejs/splide@4.0.2/dist/css/splide-core.min.css">
    <link rel="stylesheet" href="/css/home.css">
 
    <main class="form_box">
       
            <form class="profile-form" action="/users/userUpdate?_method=PUT" method="POST" enctype="multipart/form-data">
                <div class='img_profile-box'>
                    <label for="avatar" style="cursor: pointer;"> <img style="border-radius: 50%;" id="avatar-preview" src="/imgs/users_images/<%= user.avatar ? user.avatar : 'usuario-icono.svg' %>" alt='perfil' class="img_user-profile"></label>
                    <input name="avatar" type="file" id="avatar" hidden onchange="showPreview(event)">
                </div>
            
                   <h1 class="profile-title">Perfil</h1>
            
                
                   <label for="nombre"  >Nombre</label>
                   <input class="profile-main" type="text" id="nombre" name="nombre" value="<%= user.nombre %>">
               
              
                   <label for="email">Email</label>
                   <input class="profile-main" type="email" id="email" name="email" value="<%= user.email %>" readonly>
          
              
                   <label for="telefono">Telefono/celular</label>
                   <input class="profile-main" type="text" id="telefono" name="telefono"
                      placeholder="Escriba su numero(opcional)." value="<%= user.telefono %>">
                
                      <div style="display: flex; gap: 5px;">
                           <a style="text-decoration: none;text-align:center" href="/users/logout" class="profile-main button-profile">Cerrar sesión</a> 
                       <button type="submit" class="profile-main button-profile">
                          Guardar
                       </button>       
                      </div>
                    
                
             </form>
    </main>

    <%- include("../partials/footer") %>
    <script src="/js/general.js"></script>
    <script>
        const showPreview = ({target}) => {
            let reader = new FileReader();
            reader.readAsDataURL(target.files[0])
            reader.onload = () => {
                document.getElementById('avatar-preview').src = reader.result
            }
        }
       
    </script>
</body>
</html>